* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECF0F3;
}

.btn {
    padding: 1rem 3rem;
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.btn1 {
    border-width: 0px;
    border-radius: 90px;
    background-color: #1e81ff;
    color: white;
    box-shadow: 0 0.9px 6.1px rgba(30, 129, 255, 0.2), 0 3.1px 20.5px rgba(30, 129, 255, 0.3), 0 14px 92px rgba(30, 129, 255, 0.4);
}

.btn2 {
    background-color: #1e81ff;
    color: white;
    border-width: 0px;
    border-radius: 0.5rem;
}

.btn3 {
    background-color: transparent;
    color: #1e81ff;
    border: 1px solid #1e81ff;
    border-radius: 0.5rem;
}

.btn4 {
    border-width: 0px;
    border-radius: 90px;
    background-image: linear-gradient(45.34deg, #EA52F8 5.66%, #0066FF 94.35%);
    color: white;
}

.btn5 {
    background-color: transparent;
    color: #1e81ff;
    border: 1px solid #1e81ff;
}

.btn5:hover {
    color: white;
    background: #1e81ff;
    transition: 0.8s;
}

.btn6 {
    border-width: 0px;
    border-radius: 8px;
    background: #ECF0F3;
    box-shadow: 5px 5px 10px #c9cccf, -5px -5px 10px #ffffff;
}

.btn6:hover {
    border-radius: 8px;
    background: #ECF0F3;
    box-shadow: inset 5px 5px 10px #c9cccf, inset -5px -5px 10px #ffffff;
}

.float {
    background-image: linear-gradient(45.34deg, #EA52F8 5.66%, #0066FF 94.35%);
    border-width: 0px;
    border-radius: 50px;
    padding: 20px;
    color: white;
}